body{
    background-color: lightgray;
}
.cart {
    color: #b11035;
    margin-left: 4px;
    margin-right: 20px;
    background-color: lightgray;
}

.text-cart {
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.btnFinalBuy, .btnBack, .btnEmptyCart{
    display: flex;
    flex-direction: column;
}

.finalEmpty{
    display: flex;
    flex-direction: row;
   
}





.centerCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    min-height: 75vh;
    background-color: black;
}



.titleCart {
    margin-top: 6%;
    color: black;
    margin-left: -38%;
    font-size: 2rem;
    padding: 1%;
   
    
    
    
}



.noProducts {
    color: black;
    text-align: center;
    font-weight: bold;
    padding-top: 4%;
    font-size: 1.3rem;
}
.centerCart{
    background-color: lightgray;
}
.cartContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.4fr;
    padding: 3%;
    align-items: center;
    justify-items: center;
    margin-bottom: 1%;
    background-color: white;
    grid-template-areas:
        "imgProduct cartQty cartPrice cartSubt DelItemCard"
        "imgProduct  cartQty cartPrice cartSubt DelItemCard"
        "imgProduct  cartQty cartPrice cartSubt DelItemCard"
        "imgProduct  cartQty cartPrice cartSubt DelItemCard"
 
}
.totalLabel{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: end;
    margin-right: 5%;
    padding: 1.5%;
}

.imgTrash {
    width: 30px;
    height: auto;
    border: 3px ridge;

}

.finalEmpty{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-left: 38%;
justify-content: space-between;
}

.lineCart, .cardCart{
    color: black;
    font-weight: bold;
}

.finalCost{
    background-color: white;
}

.centerCart{
    margin-top: 0%;
    background-color: lightgray;
}

@media screen and (min-width:100px) and (max-width: 500px){
    
        .finalEmpty{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
           
        }
  
  }

.imgbasu{
    width: 45px;
}
.h2check{
    text-align: center;
    font-size: 4rem;
    margin-top: 10%;
}