.asd{
    display: flex;
    justify-content: center;
    margin-top: -50;
<<<<<<< HEAD
}
.detailtext{
    text-align: center;
    font-size: 1.6rem;
    margin: -0.5%;
}
.buttoncenter{
    display: flex;
    justify-content: center;
    gap: 1%;
}
.buttoninfo{
    color: white;
=======
>>>>>>> 841f5d4944b8c436fa014e1989a377caef5a4ba5
}