.pstock{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 150%;
}
.buttonadd, .buttoncarrito, .buttonrest{
    text-decoration: none;
    padding: 10px;
    font-weight: 800;
    font-size: 100%;
    color: black;
    border-radius: 0px;
    border: 2px solid #EDD8D8;
    margin:auto;
    display:block;
}